@-moz-keyframes pulse {
    /* line 4, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    30% {
      opacity: .6; }
  
    /* line 5, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    60% {
      opacity: 0; }
  
    /* line 6, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    100% {
      opacity: .6; } }
  
  @-ms-keyframes pulse {
    /* line 9, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    30% {
      opacity: .6; }
  
    /* line 10, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    60% {
      opacity: 0; }
  
    /* line 11, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    100% {
      opacity: .6; } }
  
  @-o-keyframes pulse {
    /* line 14, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    30% {
      opacity: .6; }
  
    /* line 15, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    60% {
      opacity: 0; }
  
    /* line 16, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    100% {
      opacity: .6; } }
  
  @-webkit-keyframes pulse {
    /* line 19, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    30% {
      opacity: .6; }
  
    /* line 20, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    60% {
      opacity: 0; }
  
    /* line 21, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    100% {
      opacity: .6; } }
  
  @keyframes pulse {
    /* line 24, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    30% {
      opacity: .6; }
  
    /* line 25, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    60% {
      opacity: 0; }
  
    /* line 26, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    100% {
      opacity: .6; } }
  
  /* line 30, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
  html,
  body {
    height: 100%; }
  
  /* Wrapper for page content to push down footer */
  /* line 36, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px; }
  
  /* line 46, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
  #footer {
    height: 60px;
    background-color: #f5f5f5; }
  
  /* line 52, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px; }
  
  /* line 57, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
  .container .credit {
    margin: 20px 0; }
  
  /* line 63, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
  #progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: width 500ms ease-out, opacity 400ms linear;
    -moz-transition: width 500ms ease-out, opacity 400ms linear;
    -o-transition: width 500ms ease-out, opacity 400ms linear;
    transition: width 500ms ease-out, opacity 400ms linear; }
    /* line 73, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    #progress dt,
    #progress dd {
      position: absolute;
      top: 0;
      height: 2px;
      -webkit-box-shadow: #b91f1f 1px 0 6px 1px;
      -moz-box-shadow: #b91f1f 1px 0 6px 1px;
      box-shadow: #b91f1f 1px 0 6px 1px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%; }
    /* line 82, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    #progress dt {
      opacity: .6;
      width: 180px;
      right: -80px;
      clip: rect(-6px, 90px, 14px, -6px); }
    /* line 89, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    #progress dd {
      opacity: .6;
      width: 20px;
      right: 0;
      clip: rect(-6px, 22px, 14px, 10px); }
    /* line 100, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    #progress.waiting dt,
    #progress.waiting dd {
      -moz-animation: pulse 2s ease-out 0s infinite;
      -ms-animation: pulse 2s ease-out 0s infinite;
      -o-animation: pulse 2s ease-out 0s infinite;
      -webkit-animation: pulse 2s ease-out 0s infinite;
      animation: pulse 2s ease-out 0s infinite; }
    /* line 109, /Users/Mikasa/Projects/progressBarJS/source/stylesheets/jquery.progressbar.css.scss */
    #progress.done {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }
  