.facu {
    border: 1px solid #dad4d4;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    margin-right: 20px;
}
.facu:hover {
    background-color: #dedede;

}
.seleccion {
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
}
.facu {
    text-decoration: none!important;
    color: #292b2c!important;
    margin-left: 5px;
}
strong {
    margin-left: 10px;
}
.share {
    margin-left: 30px;
}
.facu a:hover {
    text-decoration: none!important;
    color: #292b2c!important;
}

/** SCROLLBAR 
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	background-color: #fbbb00; 
	border-radius: 5px;
}
**/

/** SUBIR **/
.arriba {
    display: none;
    font-size: 2.5em;
    color: #fff;
    background-color: #fbbb00;
    padding: 10px 18px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 0;
    margin-right: 20px;
}

/** BARRA BACKEND **/
.navbar {
    padding: 15px 0;
    background-color: #004231!important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.navbar-nav a {
    color: #fff!important;
    margin: 0 20px 0 0;
}
.navbar-nav {
    margin: 0 auto!important;
}
.drop-sub {
    background-color: #004231;
    border: none;
}
.drop-sub a {
    color: #292b2c;
    font-weight: 200!important;
}
.drop-sub a:hover {
    background-color: #004231;
    color: #fbbb00!important;
}
.nav-item>a {
    text-transform: uppercase;
}
.link-cerrar a {
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    padding: 15px;
}
.link-cerrar a:hover {
    background-color: #fbbb00;
    border: 1px solid #fbbb00;
}
.menu {
    display: flex;
    perspective: 200px;
}
.menu ul {
    display: flex;
    margin: auto;
}
.menu a:hover {
    text-decoration: none;
}
.menu>li:hover {
    background-color: #fbbb00;
    text-decoration: none;
}
.submenu {
    flex-direction: column!important;
    position: absolute;
    transform: rotateY(240deg) scale(0);
    transition: all 1s;
}
.submenu li a {
    width: 98%;
    text-align: left;
}
li:hover > .submenu {
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
}
.submenu:before {
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid #004231;
    position: absolute;
    margin-top: -8px;
    margin-left: 15px;
}
.submenu li a:hover{
    background-color: rgba(0, 0, 0, .2);
}
.sub li {
    position: relative;
}
.sub {
    right: -215px;
    top: 35px;
}
.sub:before {
    position: absolute;
    margin-top: 20px;
    margin-left: -14px;
    transform: rotate(-90deg);
}

.sticky-top-admin {
    position: -webkit-sticky;
    position: sticky;
    top: 89px;
    z-index: 1020;
}

/** ADMIN AREA **/

.container-portada {
    width: 100%;
    height: 505px;
    background-image: url(https://raw.githubusercontent.com/Magtimus/portada-en-movimiento/master/image/portada.jpg);
    background-size: 200%;
    animation: move 10s infinite linear alternate;
}
@keyframes move {
    from {
        background-position: bottom left;
    } to {
        background-position: top right;
    }
}
.capa-gradient {
    width: 100%;
    height: 505px;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #004231);
    opacity: 0.5;
}
.container-detalles {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.detalles {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    text-align: center;
    color: #fff;
    padding-top: 150px;
}
.detalles h4 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
}
@media screen and (max-width: 500px) {
    .detalles h4 {
        font-size: 1.8em;
    }
}
.detalles p {
    font-size: 1.2em;
    font-weight: 100;
}
.b-admin, .b-admin-2 {
    text-transform: uppercase;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 15px 30px;
    background-color: #000;
    font-family: 'Raleway', sans-serif;
    margin-right: 5px; 
}
.b-admin-2 {
    background-color: #fbbb00; 
    margin-left: 5px;
}
.b-admin-2:hover {
    background-color: #000; 
}

.slogan-video p{
    font-weight: 100;
}
footer.site-footer {
    margin-top: 0;
}


/** SISTEMAS **/
.container-sistemas, .container-arqui, .container-derecho, .container-medicina {
    width: 100%;
    height: 626px; 
    background-size: 120%;
    animation: move 8s infinite linear alternate;
}
.container-sistemas {
    background-image: url(https://t3mexico.mx/home/wp-content/uploads/2018/06/ena.jpg);
}
.container-arqui {
    background-image: url(http://a1group.co/wp-content/uploads/2018/09/plano-de-casa-campestre-dise-o-moderno-en-un-piso-245-m2-youtube-casas-campo-modernas-modelos-fotos-fachadas-campestres-hqdefault.jpg);
}
.container-derecho {
    background-image: url(http://www.colabojuj.org.ar/wp-content/uploads/2016/11/balanza2.jpg);
}
.container-medicina {
    background-image: url(https://sites.google.com/site/bionicaysuscampos/_/rsrc/1462257827067/campos-de-aplicacion/bionica-en-el-campo-de-la-medicina/pene_bionico_.jpg);
}
@keyframes move {
    from {
        background-position: bottom left;
    } to {
        background-position: top right;
    }
}
.capa-gradient-a {
    width: 100%;
    height: 626px;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #004231);
    opacity: 0.5;
}

.seccion-precios {
    width: 100%;
    max-width: 690px;
    margin: auto;
}

/** MODALES **/
.modalmask, .modalmask-b {
    position: fixed;
    font-family: 'Raleway', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalmask-b:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox {
    width: 600px;
    position: relative;
    padding: 15px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in; 
}
.modalbox-b {
    width: 600px;
    position: relative;
    padding: 15px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in; 
}

.movedown, .movedown-b {
    margin: 0px auto;
}
.movedown P, .movedown-b p {
    text-align: justify;
}
.modalmask:target .movedown {       
    margin: 10% auto;
} 
/** ADMIN MODAL **/
.modalmask-b:target .movedown-b {       
    margin: 30px auto;
}
.close {
    background-color: #222;
    color: #fff;;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}
.close:hover {
    color:#fff!important;
}

/** GALERIA **/
.nave-p .activo {
    border-bottom: 2px solid #fbbb00;
}

.row-carreras {
    margin-left: 60px;
    margin-top: 90px;
}